<launch>
  <arg name="joy_dev" default="/dev/input/js0" />
  <arg name="joystick" default="true" />

  <group ns="bluetooth_teleop" if="$(arg joystick)">

    <group unless="$(optenv JACKAL_PS3 0)" >
      <rosparam command="load" file="$(find jackal_control)/config/teleop_ps4.yaml" />
    </group>

    <node pkg="joy" type="joy_node" name="joy_node" />

    <node pkg="teleop_twist_joy" type="teleop_node" name="teleop_twist_joy"/>
  </group>

  <include file="$(find dynamixel_workbench_controllers)/launch/dynamixel_controllers.launch"/>
</launch>
